.header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid black; */
}

.logo{
    height: 150px;
    object-fit: contain;
}

.nav-items>ul{
    display: flex;
    gap: 30px;
    margin: 35px 40px;
}

.nav-items>ul>li{
    list-style-type: none;
    font-size: 1.5rem;
}


.restro-card{
    height: 400px;
    width: 250px;
    margin-top: 20px;
}

.restro-card:hover{
    cursor: pointer;
}

.restro-logo{
    height: 150px;
    width: 250px;
    position: relative;
}

.restro-logo>.content-box{
    width: 250px;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.restro-logo:hover{
    height: 140px;
    width: 240px;
}

.restro-logo>h2{
    position: absolute;
    color: white;
    bottom: 0px;
    left: 10px;
}

.content-box>h3{
    font-size: 25px;
}

.content-box{
    font-weight: 600;
}

.lower-content{
    color:rgb(100,100,100);
    font-size: 20px;
}

.restro-container,.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 80px;
}

.filter-btn{
    cursor: pointer;
}

.shimmer-card{
    height: 150px;
    width: 250px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.filter{
    margin: 30px 80px;
    display: flex;
    gap: 30px;
}






